<?xml version = '1.0' encoding = 'UTF-8'?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>resources</servlet-name>
    <servlet-class>org.apache.myfaces.trinidad.webapp.ResourceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BIGRAPHSERVLET</servlet-name>
    <servlet-class>oracle.adf.view.faces.bi.webapp.GraphServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BIGAUGESERVLET</servlet-name>
    <servlet-class>oracle.adf.view.faces.bi.webapp.GaugeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MapProxyServlet</servlet-name>
    <servlet-class>oracle.adf.view.faces.bi.webapp.MapProxyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GatewayServlet</servlet-name>
    <servlet-class>oracle.adfinternal.view.faces.bi.renderkit.graph.FlashBridgeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>adflibResources</servlet-name>
    <servlet-class>oracle.adf.library.webapp.ResourceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>adfAuthentication</servlet-name>
    <servlet-class>oracle.adf.share.security.authentication.AuthenticationServlet</servlet-class>
    <init-param>
      <param-name>success_url</param-name>
      <param-value>/faces/indexPC</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>log4j-init</servlet-name>
    <servlet-class>mx.com.sky.sel.log.Log4jInit</servlet-class>
    <init-param>
      <param-name>log4j-init-file</param-name>
      <param-value>WEB-INF/classes/log4j.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>CaptchaServlet</servlet-name>
    <servlet-class>mx.com.sky.sel.utils.CustomCaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
    
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>resources</servlet-name>
    <url-pattern>/adf/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>resources</servlet-name>
    <url-pattern>/afr/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BIGRAPHSERVLET</servlet-name>
    <url-pattern>/servlet/GraphServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BIGAUGESERVLET</servlet-name>
    <url-pattern>/servlet/GaugeServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MapProxyServlet</servlet-name>
    <url-pattern>/mapproxy/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>resources</servlet-name>
    <url-pattern>/bi/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adflibResources</servlet-name>
    <url-pattern>/adflib/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adfAuthentication</servlet-name>
    <url-pattern>/adfAuthentication</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CaptchaServlet</servlet-name>
    <url-pattern>/captchaservlet</url-pattern>
  </servlet-mapping>
  <!--No Mover el Orden de los Filtros -->
  <filter>
    <filter-name>adfBindings</filter-name>
    <filter-class>oracle.adf.model.servlet.ADFBindingFilter</filter-class>
    <!-- Add this init parameter to set the ADF Binding Filter lock to 4 minutes  -->
    <init-param>
      <param-name>adf.filterlocktimeout</param-name>
      <param-value>240000</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>JpsFilter</filter-name>
    <filter-class>oracle.security.jps.ee.http.JpsFilter</filter-class>
    <init-param>
      <param-name>enable.anonymous</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>remove.anonymous.role</param-name>
      <param-value>false</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>trinidad</filter-name>
    <filter-class>org.apache.myfaces.trinidad.webapp.TrinidadFilter</filter-class>
  </filter>
  <!--<filter>
    <filter-name>ADFLibraryFilter</filter-name>
    <filter-class>oracle.adf.library.webapp.LibraryFilter</filter-class>
  </filter>-->
  <filter>
    <filter-name>ADFLibraryFilter</filter-name>
    <filter-class>oracle.adf.library.webapp.LibraryFilter</filter-class>
    <init-param>
      <param-name>provider-lazy-inited</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>JpsFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>adfBindings</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>JpsFilter</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>trinidad</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <!--<filter-mapping>
    <filter-name>ADFLibraryFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>-->
  <!--<filter-mapping>
    <filter-name>adfBindings</filter-name>
    <servlet-name>adfAuthentication</servlet-name>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>-->
  <!--No Mover el Orden de los Filtros -->
  <filter-mapping>
    <filter-name>ADFLibraryFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.PARTIAL_STATE_SAVING</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <description>If this parameter is true, there will be an automatic check of the modification date of your JSPs, and saved state will be discarded when JSP's change. It will also automatically check if your skinning css files have changed without you having to restart the server. This makes development easier, but adds overhead. For this reason this parameter should be set to false when your application is deployed.</description>
        <param-name>org.apache.myfaces.trinidad.CHECK_FILE_MODIFICATION</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <description>Whether the 'Generated by...' comment at the bottom of ADF Faces HTML pages should contain version number information.</description>
        <param-name>oracle.adf.view.rich.versionString.HIDDEN</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <description>Security precaution to prevent clickjacking: bust frames if the ancestor window domain(protocol, host, and port) and the frame domain are different. Another options for this parameter are always and never.</description>
        <param-name>org.apache.myfaces.trinidad.security.FRAME_BUSTING</param-name>
        <param-value>differentOrigin</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.VALIDATE_EMPTY_FIELDS</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>oracle.adf.view.rich.geometry.DEFAULT_DIMENSIONS</param-name>
        <param-value>auto</param-value>
    </context-param>
    <context-param>
        <param-name>oracle.adf.view.rich.SYNCROWS</param-name>
        <param-value>enable</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.FACELETS_DECORATORS</param-name>
        <param-value>oracle.adfinternal.view.faces.facelets.rich.AdfTagDecorator</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.FACELETS_RESOURCE_RESOLVER</param-name>
        <param-value>oracle.adfinternal.view.faces.facelets.rich.AdfFaceletsResourceResolver</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.FACELETS_VIEW_MAPPINGS</param-name>
        <param-value>*.jsf;*.xhtml</param-value>
    </context-param>
  <context-param>
    <param-name>org.apache.myfaces.trinidad.DISABLE_CONTENT_COMPRESSION</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>oracle.adf.view.rich.HIDE_UNSUPPORTED_BROWSER_ALERTS</param-name>
    <param-value>IECompatibilityModes</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.myfaces.trinidad.Agent#OVERRIDE_IE_COMPATIBILITY_MODE</param-name>
    <param-value>true</param-value>
  </context-param>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <mime-mapping>
    <extension>swf</extension>
    <mime-type>application/x-shockwave-flash</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>pdf</extension>
    <mime-type>application/pdf</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>amf</extension>
    <mime-type>application/x-amf</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>html</extension>
    <mime-type>text/html;charset=UTF-8</mime-type>
  </mime-mapping>
  <listener>
    <listener-class>oracle.adf.mbean.share.config.ADFConfigLifeCycleCallBack</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>/faces/cuenta</welcome-file>
  </welcome-file-list>
  <!-- Error Pages -->
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/faces/login</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/faces/error</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/faces/login</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/faces/error</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/faces/error</location>
    </error-page>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/faces/bienvenido</form-login-page>
      <form-error-page>/faces/error</form-error-page>
    </form-login-config>
  </login-config>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Trinidad Resource Servlet Exemptions</web-resource-name>
      <url-pattern>/afr/*</url-pattern>
      <url-pattern>/adf/*</url-pattern>
      <url-pattern>/bi/*</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>adfAuthentication</web-resource-name>
      <url-pattern>/adfAuthentication</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>valid-users</role-name>
    </auth-constraint>
  </security-constraint>
  <security-role>
    <role-name>valid-users</role-name>
  </security-role>
  <ejb-local-ref>
    <ejb-ref-name>ejb/local/ServiciosCorporativosPSManagement</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>mx.com.sky.sel.services.corporativos.ServiciosCorporativosPSManagementLocal</local>
    <ejb-link>ServiciosCorporativosPSManagement</ejb-link>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>ejb/local/ServicioBannerPSManagement</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>mx.com.sky.sel.services.banner.ServicioBannerPSManagementLocal</local>
    <ejb-link>ServicioBannerPSManagement</ejb-link>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>ejb/local/ServicioPagosPSManagement</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>mx.com.sky.sel.services.pagos.serviciopagos.ServicioPagosPSManagementLocal</local>
    <ejb-link>ServicioPagosPSManagement</ejb-link>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>ejb/local/ServicioTarjetaPSManagement</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>mx.com.sky.sel.services.pagos.administratarjeta.ServicioTarjetaPSManagementLocal</local>
    <ejb-link>ServicioTarjetaPSManagement</ejb-link>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>ejb/local/ServicioCofetelPSManagement</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>mx.com.sky.sel.services.cofetel.ServicioCofetelPSManagementLocal</local>
    <ejb-link>ServicioCofetelPSManagement</ejb-link>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>ejb/local/EstadoCuentaPSManagement</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>mx.com.sky.sel.services.estadocuenta.EstadoCuentaPSManagementLocal</local>
    <ejb-link>EstadoCuentaPSManagement</ejb-link>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>ejb/local/ServicioPromesaPagoPSManagement</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>mx.com.sky.sel.services.promesapago.ServicioPromesaPagoPSManagementLocal</local>
    <ejb-link>ServicioPromesaPagoPSManagement</ejb-link>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>ejb/local/ServicioBTGEWPSManagement</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>mx.com.sky.sel.services.btgew.ServicioBTGEWPSManagementLocal</local>
    <ejb-link>ServicioBTGEWPSManagement</ejb-link>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>ejb/local/ServicioPagosEventosPSManagement</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>mx.com.sky.sel.services.eventos.ServicioPagosEventosPSManagementLocal</local>
    <ejb-link>ServicioPagosEventosPSManagement</ejb-link>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>ejb/local/ServicioTarjetaInteligentePSManagement</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>mx.com.sky.sel.services.ti.ServicioTarjetaInteligentePSManagementLocal</local>
    <ejb-link>ServicioTarjetaInteligentePSManagement</ejb-link>
  </ejb-local-ref>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsff</url-pattern>
      <is-xml>true</is-xml>
    </jsp-property-group>
  </jsp-config>
  <ejb-local-ref>
    <ejb-ref-name>ejb/local/SolicitudOtrosServiciosPSManagement</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>mx.com.sky.sel.services.solicitudservicio.SolicitudOtrosServiciosPSManagementLocal</local>
    <ejb-link>SolicitudOtrosServiciosPSManagement</ejb-link>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>ejb/local/AclaracionesCargosTDCPSManagement</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>mx.com.sky.sel.services.solicitudservicio.AclaracionesCargosTDCPSManagementLocal</local>
    <ejb-link>AclaracionesCargosTDCPSManagement</ejb-link>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>ejb/local/ServicioDatosGeneralesPSManagement</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>mx.com.sky.sel.services.datosgenerales.ServicioDatosGeneralesPSManagementLocal</local>
    <ejb-link>ServicioDatosGeneralesPSManagement</ejb-link>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>ejb/local/ServicioRevistaPSManagement</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>mx.com.sky.sel.services.revista.ServicioRevistaPSManagementLocal</local>
    <ejb-link>ServicioRevistaPSManagement</ejb-link>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>ejb/local/ServicioModulosPSManagement</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>mx.com.sky.sel.services.modulares.ServicioModulosPSManagementLocal</local>
    <ejb-link>ServicioModulosPSManagement</ejb-link>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>ejb/local/ServicioSeguroEquipoPSManagement</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>mx.com.sky.sel.services.beans.seguroequipo.ServicioSeguroEquipoPSManagementLocal</local>
    <ejb-link>ServicioSeguroEquipoPSManagement</ejb-link>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>ejb/local/ConsultarSugerenciasPSManagement</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>mx.com.sky.sel.services.sugerencias.ConsultarSugerenciasPSManagementLocal</local>
    <ejb-link>ConsultarSugerenciasPSManagement</ejb-link>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>ejb/local/QuejasPSManagement</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>mx.com.sky.sel.services.quejas.QuejasPSManagementLocal</local>
    <ejb-link>QuejasPSManagement</ejb-link>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>ejb/local/ServicioReenvioSenalPSManagement</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>mx.com.sky.sel.services.reenviosenal.ServicioReenvioSenalPSManagementLocal</local>
    <ejb-link>ServicioReenvioSenalPSManagement</ejb-link>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>ejb/local/ServicioSTCDPSManagement</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>mx.com.sky.sel.services.stcd.ServicioSTCDPSManagementLocal</local>
    <ejb-link>ServicioSTCDPSManagement</ejb-link>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>ejb/local/ServicioCambioTitularPSManagement</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>mx.com.sky.sel.services.cambiotitular.ServicioCambioTitularPSManagementLocal</local>
    <ejb-link>ServicioCambioTitularPSManagement</ejb-link>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>ejb/local/ServicioInformacionFiscalPSManagement</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>mx.com.sky.sel.services.informacionfiscal.ServicioInformacionFiscalPSManagementLocal</local>
    <ejb-link>ServicioInformacionFiscalPSManagement</ejb-link>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>ejb/local/PromocionPSManagement</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>mx.com.sky.sel.services.promociones.PromocionPSManagementLocal</local>
    <ejb-link>PromocionPSManagement</ejb-link>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>ejb/local/ServicioCtaSkyCelPSManagement</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>mx.com.sky.sel.services.ctacelsky.ServicioCtaSkyCelPSManagementLocal</local>
    <ejb-link>ServicioCtaSkyCelPSManagement</ejb-link>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>ejb/local/ServicioPortabilidadPSManagement</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>mx.com.sky.sel.services.portabilidad.ServicioPortabilidadPSManagementLocal</local>
    <ejb-link>ServicioPortabilidadPSManagement</ejb-link>
  </ejb-local-ref>
</web-app>
