@charset "UTF-8";

/*todo esto es para la parte de la grafica circular de consumos PC*/
@property --pgPercentage {
    syntax: '<number>'; inherits: false; initial-value: 0; }

    div[role="progressbar"] {
        --size: 80px;
        --fg: #77a5e0;
        --bg: #def;
        pgPercentage: var(--value);
        animation: growProgressBar 3s 1 forwards;
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        display: grid;
        place-items: center;
        background: radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0), conic-gradient(var(--fg) calc(var(--pgPercentage)*1%), var(--bg) 0);
        font-family: Helvetica, Arial, sans-serif;
        font-size: calc(var(--size)/6);
        color: var(--fg);
    }
    /*FIN grafica circular consumos*/
    /*------------------------------------------------------*/
    /*resto de estilos version PC*/
    /*Borde del paquete*/
    .bolderPaquete{
        border-radius: 20px; 
        border: 2px solid #004B8D;
        min-height: 215px;
    }
    /*para los botones de ofertas*/
    /*oferta no seleccionada*/
    .btn-opacity {
        background: rgb(0 75 141/85%) 0% 0% no-repeat padding-box !important;
    }
    /*oferta seleccionada*/
    .btn-opacity-1 {
        background: rgb(0 75 141/180%) 0% 0% no-repeat padding-box !important;
    }
    /*bonotes ofertas*/
    a.btn-internal {
        display: flex;
        align-items: center;
        min-height: 45px;
        max-width: 100%;
        margin: 0px;
    }
    /*etiqueta del boton de la oferta*/
    a.btn-internal > span {
        font: bold 9px/14px Roboto;
        color: white;
        flex: 50%;
        white-space: break-spaces;
        opacity: 1;
    }
    /*--------------FIN etiquetas de los botones de oferta----------------*/
    /*etiquetas de contenidos de los paquetes*/
    .channel-text1 {
        font: bold 12px/12px Roboto;
        color:#004B8D; 
        text-transform:uppercase; 
        display:block;
    }
    .channel-text2 {
        font: Medium Roboto;
        font-size:12px;
        color:#004B8D;
        display:inline-block;
    }
    .lbl-datosDisponibles{
        width: 50%;
        white-space: break-spaces;
    }
    /*-----FIN etiquetas de contenidos de los paquetes------*/